.header-classes {
  background-color: $dark-gray;
  background-size: cover;
  padding-bottom: 5em;
}

.north-america-classes {
  padding: 3em 1em;

  h1 {
    padding-bottom: 1em;
  }

  h2 {
    padding: 1em 0 1em 0;
    font-size: 1.5em;
  }
}

.classes-container {
  h1 {
    padding-bottom: 0;
  }

  h2 {
    margin-top: 3em;
    padding: 0;
  }

}

.america-container {
  margin: 0 auto;
  max-width: em(1000px);
}

.classes-ul {
  padding-left: 1.5em;
  display: inline-block;
  padding-top: 1em;

  li {
    display: inline-block;
    padding: 0 1em 1em 1em;
    width: 20em;
  }
}

.world-classes {
  background-color: $light-gray;
}

.rest-of-the-world {
  padding-top: 2em;
}

.header-background {
  background-color: $dark-gray;
  color: $snow;
  padding: 3em 0;
  text-align: center;

  h3 {
    font-size: 1.3em;
    padding: 1em .5em 0 .5em;
  }
}

.image-popup {
  img {
    margin-bottom: 2em;
  }
}

.instructor-container {
  padding-top: 3em;
}

.london-title {
  padding-top: 3em;
}
