footer {
  background-color: $dark-gray;
  padding: 1em 0;
  font-family: $sans-serif;
  text-transform: uppercase;

  a {
    color: $snow;
  }

  a:hover {
    color: darken($snow,20%);
  }

  @media screen and (max-width:700px) {
    font-size: .8em;
  }
}

.footer-homepage {
  text-align: center;
}

.footer-ul-homepage {
  li {
    display: inline-block;
    margin: $base-spacing;

    @media screen and (max-width:700px) {
      margin: .5em;
    }
  }
}
